<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item.name }}</title>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>{{item.price}}</p>
    
    <form action="/cart" method="post">
        <input type="hidden" name="product_id" value= "{{ item.id }}" >
        <input type="number" name="quantity" min="0" value="1">\
        <input type="hidden" name="updatecheck" value= "0" >
        <button type="submit">Add to Cart</button>
    </form>

    <br>
    <a href="/">Home</a> / <a href="{{ url_for('show_category', category=category) }}">{{ category }}</a>
    <br>
    
</body>
</html>